page-home {
.bg-blue-color{
  background-color: lightskyblue;
}

.mymoney
{
    width:75px;
    height:75px;
    background-color: white;
    border-radius: 50px;
    display:inline-block;
    text-align: center;
    padding-top: 17px;
    color: map-get($colors,black);
    font-size: map-get($fontsize,40);
    margin-left: 2px;
}
.scrollheight0
{
  min-height: 70px !important;
}
.scrollheight1
{
  min-height: 56px !important;
}
.scrollheight2
{
  min-height: 70px !important;
}
.scrollheight3
{
  min-height: 70px !important;
}




.menuicon{margin:0px;}
.menuicon img{width:24px;}
.btn-menuicon{
  color:map-get($colors, black);
  font-size: map-get($fontsize, 20);
  margin:0px;
  font-weight: 500;
}
.dash-header::after{
  bottom:0px;
}
.btn-title-menu{
  color:map-get($colors, white);
  font-size: map-get($fontsize, 20);
  margin:0px;
}
.dashboard .item-inner{
  width:280px;
  border-bottom:0px !important;
}
.burgerMenu-list{
  width:100%;
  margin-top: 10px;
}
.burgerMenu-item{
  color:map-get($colors, lightblue);
  font-weight: 500;
  min-height: 3.4rem;

}
.burgerMenu-item .button-inner{
  border:0px;
}
.burgerMenu-item .item-inner .input-wrapper .label-md{margin:0px;}
.new-item{color:map-get($colors, fred);}
.top-bg{
  background: map-get($backgrund-img, topbg) no-repeat;background-size:cover;background-position: center;
  padding-bottom: 15px;
}
.offerslider{
  width:100%;
  height:120px;
}
.offerslider1{
  background: map-get($backgrund-img, offerslider4) no-repeat;background-size:cover;background-position: bottom;background-size:100% 100%;
}
.offerslider2{
  background: map-get($backgrund-img, offerslider3) no-repeat;background-size:cover;background-position: bottom;background-size:100% 100%;
}
.offerslider3{
  background: map-get($backgrund-img, offerslider5) no-repeat;background-size:cover;background-position: bottom;background-size:100% 100%;
}
.sliderCSS
{
  width:100%;
  height:120px;
}

.user-info{width:90%;margin:0 auto;background: #fff;position:relative;border-radius: 5px;}
.landing-bg{
  padding: 18px;
  background: map-get($backgrund-img, bglanding) no-repeat;
  background-size:cover;
  background-position:center;
  text-align:center;
  font-size: map-get($fontsize, 18);
  font-weight:500;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cardblue{
  //padding: 10px;
  padding: 10px 10px 0px 10px;
  background: map-get($backgrund-img, cardblue) no-repeat;
  background-size: 100% 100%;
  background-position:top;
  border-radius: 5px;
  height: 105px;
}
.smallfont{
  font-size: map-get($fontsize, 13) !important;
}
.apply-now-css{
  color:#403773 !important;
  background-color: map-get($colors, apply-btn-bg) !important;
  border-radius: 5px !important;
  height: auto !important;
  width: auto !important;
  text-transform: none !important;
}
.apply-clr{
  color:#403773 !important;
}
.cardblue span{
  color:map-get($colors, white);
  font-size:map-get($fontsize, 15);
  display: block;
  line-height: 21px;
}
.wallet-balance{
  padding:3px 8px;
  font-size:12px;
}
.wallet-balance span{
  display:block;
  color:map-get($colors, dark);

}
.swiper-pagination-bullet{
  background: #ccc !important;
  opacity: 1;
}
.swiper-pagination-bullet-active
{
  background: map-get($colors, dark) !important;
}
.wallet-balance span:first{padding-bottm:3px;}
.add-wallet{position:absolute;bottom:22px;right:15px;width:50px;height:50px;box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.31);border-radius: 50%;}
.product-main{width:100%;}
.product-list{
  display:block;
  width:100%;
  overflow-x:auto;
  list-style-type:none;
}
.product-block{
  display:inline;
  padding: 16px;
  height:40px;
  border: solid 1px #DDD;
  background-color: rgb(221, 41, 91);
  color: #FFF;
  border-radius: 3px;
  margin: 5px;
}

.img-footer, .fotter-text{text-align:center;color:map-get($colors, white);font-size: map-get($fontsize, 13);}
.img-footer img{
  width:30px;
}
.footer-grid{padding:0px 5px;}
.footer-grid ion-col{padding:0px 5px;}
.scroll-zoom-wrapper {
      white-space: nowrap;
  }

  .product-card {
      width: 90px !important;
  min-height:70px;
      display: inline-block;
  padding:0px;
  margin:0px;
  box-shadow:none;
  }
.product-content{
  padding:0px;
  margin:0px;
}
.product-title{
  padding:0px;
  margin:0px;
}
.product-img{
  width:85px;
  margin:0 auto;
  text-align:center;
  line-height: 10px;
}
.product-img img{
  width:30px;
  margin: 0 auto;
}
.product-item{
  padding-left:0px;
}
.product-type {
  margin-bottom: 5px;
  margin-left:10px;
}
.product-type span{
  font-size: map-get($fontsize, 14);
  font-weight:500;
  color:map-get($colors, fblue);
}
.product-img span{
  font-size: map-get($fontsize, 12);
  white-space:normal;
  line-height: 16px;
  margin-top: 5px;
  display: block;
}
  ion-scroll {
      min-height: 70px;
      height: auto;

  .scroll-content {
          padding: 0px !important;
      }
  }
.dash-footer{padding:0px;}
.product-item .item-inner .input-wrapper .label-md{margin:3px 0px;}
.card-slide .swiper-slide{

}
.card-slide .swiper-slide, .card-slide .swiper-slide .slide-zoom{
  text-align:left;
}
//////////////////////////////////////////////// blue alert
.alert-md .alert-head{padding: 12px 12px 12px !important;}

}
